html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#map_canvas {
    width: 100%; 
    height: 100%; 
    float: left; 
    border: 1px solid black;
}

.colorYellow {
    color: yellow;
}

.colorRed {
    color: red;
}
.colorBlue {
    color: blue;
}
.colorGreen {
    color: green;
}

.dropdown-custom > .dropdown-menu {
	min-width: 220px;
	padding: 15px;
}